<%- include("partials/header.ejs")  %>
 <div class="book-grid">
  <% books.forEach(book => { %>
    <div class="book-card">

      <img 
        src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" 
        alt="Cover"
      />

      <div class="book-info">
        <h3><%= book.title %></h3>
        <p class="author"><%= book.author_name %></p>
        <p class="rating">⭐ <%= book.rating %></p>
        <p class="review"><%= book.review %></p>

        <div class="actions">
          <a href="/edit/<%= book.id %>">Edit</a>

          <form action="/delete/<%= book.id %>" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>

    </div>
  <% }); %>
</div>
<%- include("partials/footer.ejs")  %>
