<%- include("partials/header.ejs")  %>
  <% books.forEach(book => { %>
    <div style="margin-bottom: 20px;">
      <img 
        src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" 
        alt="Cover"
        width="120"
      />

      <h3><%= book.title %></h3>
      <p><strong>Author:</strong> <%= book.author_name %></p>
      <p><strong>Rating:</strong> ⭐ <%= book.rating %></p>
      <p><%= book.review %></p>
      <a href="/edit/<%= book.id %>">Edit</a>
    </div>
    <hr>
  <% }); %>
<%- include("partials/footer.ejs")  %>
